body {background-color: black; color:white; padding-top:2%}
header {background-color: black; color:#FF1493; font-weight: bold;}
p {color:#FF1493; font-size:8px;}
.table {color:white;}
.table-hover {background-color: grey; color:#FF1493;}
main {padding-top:5%;}
ul {padding-top:5%; color: black;}
a {color:#FF1493;}
.list-group-item {background-color: black; color:white;}
#recipe {padding-top:5%;}

