<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  
    <!-- Bootstrap and Personal CSS -->
     <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
     <link rel="stylesheet" href="css/stylesheet.css">

    
     <!-- Tablesort CSS -->
    <link rel="stylesheet" href="css/tablesort.css">

<!-- CDN  -->
  <script src="https://unpkg.com/dayjs@1.8.21/dayjs.min.js"></script>
  <script src="https://unpkg.com/vue@next"></script>


    <title>Books</title>

  </head>
  
  <body class="p-3 m-2">
    <header>
<!-- NAV BAR  -->
        <nav class="navbar fixed-top navbar-expand-lg">
            <div class="container-fluid">
              <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                  <a class="nav-item nav-link active" href="index.html">Home <span class="sr-only"></span></a>
                  <a class="nav-item nav-link" href="intro.html">Personal Bio</a>
                  <a class="nav-item nav-link" href="books.html">Favorite Books</a>
                </div>
              </div>
            </div>  
            </nav>
        </header>

<main>

<div  id="bookApp" class="row">  
<h1>Favorite Books</h1>

<!-- Books Table -->
        <table id="bookTable" class="table table-hover">
        <thead>
          <tr>
            <th scope="col">Book Id</th>
            <th scope="col">Title</th>
            <th scope="col">Author(s)</th>
            <th scope="col">Year Published</th>
            <th scope="col">Publisher</th>
            <th scope="col">Page Number</th>
            <th scope="col">MSRP</th>
          </tr>
        </thead>

        <tbody>
          <tr v-for="book in books">
            <td>{{ book.bookid }}</td>
            <td>{{ book.title }}</td>
            <td>{{ book.author }}</td>
            <td>{{ book.yearPublished }}</td>
            <td>{{ book.publisher }}</td>
            <td>{{ book.pageNumber }}</td>
            <td>{{ prettyDollar(book.msrp) }}</td>
        </tr>

        </tbody>
      </table>

  <!-- Form  -->
    <form v-on:submit.prevent="postNewBook">
     
      <div class="mb-3">
        <label for="title" class="form-label">Book Title</label>
        <input type="text" v-model="bookForm.title" class="form-control" id="title">
      </div>

      <div class="mb-3">
        <label for="author" class="form-label">Author</label>
        <input  type="text" v-model="bookForm.author" class="form-control" id="author">
      </div>

      <div class="mb-3">
        <label for="yearPublished" class="form-label">Year Published</label>
        <input type="number" v-model="bookForm.yearPublished" class="form-control" id="yearPublished">
      </div>
      <div class="mb-3">
        <label for="publisher" class="form-label">Publisher</label>
        <input type="text" v-model="bookForm.publisher" class="form-control" id="publisher">
      </div>
      <div class="mb-3">
        <label for="pageNumber" class="form-label">Page Number</label>
        <input type="number" v-model="bookForm.pageNumber" class="form-control" id="pageNumber">
      </div>
      <div class="mb-3">
        <label for="msrp" class="form-label">MSRP</label>
        <input type="number" v-model="bookForm.msrp" class="form-control" id="MSRP">
      </div>
<!-- Submit  -->
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>

<!-- Pictures  -->

<div class="col-sm-4" id="recipe">
    <img class="img-thumbnail" src="img\plantbased.jpg">
    <p>Source:Amazon</p>
</div>

<div class="col-sm-4" id="recipe">
    <img class="img-thumbnail" src="img\vegindia.jpg"></a>
    <p>Source: Amazon</p>  
  </div>   

  <div class="col-sm-4" id="recipe">
    <img class="img-thumbnail" src="img\afrovegan.jpg">
    <p>Source: Amazon</p>
  </div>
   

</main>

<!--HW5 Script -->
   <script src="js/books.js"></script>
   
<!--HW3 Script -->
  <script src="js/tablesort.min.js"></script>

<!-- Plug in from http://tristen.ca/tablesort/demo/  -->
  <script>
    new Tablesort(document.getElementById('bookTable'));
  </script>

  </body>
  
</html>
